.grid-gap {
  gap: 5rem;
}

.directions-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  background-color: rgb(87, 96, 99);
  padding: 1rem;
  border-radius: 1rem;
  min-width: 60%;
  border: 2px solid #d0ccd0;
}

.player-grid,
.computer-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  color: #d0ccd0;
  font-size: 1.25rem;
}

.computer-grid > .grid-container > .grid-col > .grid-square:hover {
  cursor: crosshair;
}
.computer-grid > .grid-container > .grid-col > .flex-centered:hover {
  cursor: not-allowed;
}

.ship {
  background-color: aqua;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hit-circle,
.miss-circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}

.hit-circle {
  background-color: red;
}

.typing-effect {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 1.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.ship-sunk {
  background-color: red;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(87, 96, 99);
  }
}
